/********************* ADMIN STYLING *********************/

#wdw-admin {
  margin-top: 100px;
  //background-color: $blue;
  min-height: 100px;
  display: none;

  #wdw-admin-create {
    margin-bottom: 20px;
    background-color: $blue;
    border-radius: 5px;
    padding: 0 0 0 0;
    
    h4 {
      color: white;
      padding: 15px;
    }

    #lblAdminCreate {
      padding: 15px;

      div {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
      }

      button {
        color: white;
        padding: 10px 15px;
        border-radius: 4px;
        font-weight: bold;
        background: $blue;
        transition: background 0.3s ease;
        border: 1px solid $white;
        display: block;
        margin: 0 auto;
      }

      button:hover {
        opacity: 1;
        background: lighten($blue, 10%);
        text-decoration: none;
        color: white;
        border: 1px solid $white;
      }

    }
  }
  
  .wdw-lat-lng {
    display: inline-block;
  }
  
  .admin-edit {
    display: inline-block;
    float: right;
    padding-top: 28px;

    .fa:hover {
      cursor: pointer;
    }
  }
}