/********************* GLOBALS & FONTS *********************/

body {
  background-color: rgba(0,0,0,0.1);
  background-color: #222;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}