/********************* GLOBALS & FONTS *********************/

body {
  background-color: $black;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
  color: #222;
  background-color: #337ab7;
  min-height: 6px;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;

}