/********************* VARIABLES & FONTS *********************/

$bgColor: #222;
$blue: #337ab7;
$positiveColor: #2ecc71;
$negativeColor: #e74c3c;
$green: green;
$red: red;
$white: #f5f5f5;

$Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;



