/********************* VARIABLES & FONTS *********************/

$bgColor: #222;
$blue: #337ab7;
$positiveColor: #A5DC86;
$negativeColor: #F27474;
$green: green;
$red: red;

$Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;



