/********************* VARIABLES & FONTS *********************/

$black: #222;
$blue: #337ab7;
$green: #2ecc71;
$red: #e74c3c;
$white: #f5f5f5;

$Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;



