<div class="row stock-item" data-stockid="{{id}}">
    <div class="thumbnail">

        <div class="col-md-12 left-info caption">
            <img class="logo-image" src="{{imgSrc}}">
            <h4 class="title">{{title}}</h4>
            <h4 class="price">{{price}} <i class="fa fa-minus" aria-hidden="true"></i></h4>
            <p class="description">{{description}}</p>
            <div class="wdw-lat-lng">
                <p class="lat">Latitude: {{lat}}</p>
                <p class="lng">Longitude: {{lng}}</p>
            </div>
            <div class="admin-edit">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>


        </div>
    </div>
</div>
