<div class="details-container" data-stockid="{{id}}">
    <div class="details-top">
        <div class="details-graph">

        </div>
    </div>
    <div class="details-middle">
        <div class="details-middle-left">
            <div class="details-title">
                <h2>{{title}}</h2>
            </div>
            <div class="details-description">
                {{description}}
            </div>
        </div>
        <div class="details-middle-right">
            <div class="details-map">

            </div>
        </div>
    </div>
    <div class="details-bottom">
        <div class="details-buttons">
            <button class="details-buy">{{buybutton}}</button>
            <button class="details-sell">{{sellbutton}}</button>
        </div>
    </div>
</div>

<!--
<div class="details-container container-fluid" data-stockid="{{id}}">

    <div class="details-top row">
        <div class="details-graph col-md-12">
            THIS IS THE GRAPHS DIV
        </div>
    </div>

    <div class="details-middle row">
        <div class="details-middle-left col-md-6">
            <div class="details-title">
                <h2>THIS IS A TITLE</h2>
            </div>
            <div class="details-description">
                This placeholder text is gonna be HUGE. Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision. I think the only card she has is the Lorem card.

                I was going to say something extremely rough to Lorem Ipsum, to its family, and I said to myself, "I can't do it. I just can't do it. It's inappropriate. It's not nice." I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.

                This placeholder text is gonna be HUGE. Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision. I think the only card she has is the Lorem card.

                This placeholder text is gonna be HUGE. Lorem Ipsum is unattractive, both inside and out. I fully understand why it’s former users left it for something else. They made a good decision. I think the only card she has is the Lorem card.


            </div>
        </div>
        <div class="details-middle-right col-md-6">
            <div class="gmaps text-center"> IS THE GOOGLE MAPS DIV</div>
        </div>
    </div>

    <div class="details-bottom row">
        <div class="details-buttons text-center">
            <button class="details-buy">{{buybutton}}</button>
            <button class="details-sell">{{sellbutton}}</button>
        </div>
    </div>
</div>-->
