<table class='table table-hover'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr data-tableId="{{id}}">
            <td><input type='text' value="{{title}}"></td>
            <td><input type='text' value="{{description}}"></td>
            <td><input type='text' value="{{price}}"></td>
            <td><input type='text' value="{{imgSrc}}"></td>
            <td><input type='text' value="{{lat}}"></td>
            <td><input type='text' value="{{lng}}"></td>
        </tr>
    </tbody>
</table>